$basefont=12px
$midfont=16px
$bigfont=20px
$navfont=14px


$title=#49a031
$desc=#666
$article=#333
$base=#000
$link=#318035
$white=#fff

$padGutter=0 10px
$topGutter=10px 0 0 0
$alignGutter=10px 0
$padding=10px
$H2Font=18px
$botGutter=0 0 10px
$botGutter14=0 0 14px

tag()
  padding:2px 4px
  font-size $basefont
  border-radius 2px
  background #efaaaa
  color #ea0707

border-bot()
  border-bottom 1px solid #efefef
fl()
  float left
fr()
  float right
clearfix()
  display block
  content ''
  clear both

ellipse()
  overflow hidden
  text-overflow ellipsis
  text-overflow ellipsis
  white-space nowrap

twoline()
  display -webkit-box
  text-overflow ellipsis
  overflow hidden
  -webkit-line-clamp 2
  -webkit-box-orient vertical




